body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h1 {
    font-size: 24px;
    color: #BE5985;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #BE5985;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: pink;
}

.cancel {
    background-color: #ccc;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: 0.3s;
}

.cancel:hover {
    background-color: #aaa;
}
